@model AddressCheckModel

@{
    ViewBag.Title = "AddressCheck";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div role="main" class="main">


    <section class="section pt-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <form class="shop-cart" method="post" action="#">

                        <div class="table-responsive">
                            <table class="shop-cart-table w-100">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail"></th>
                                        <th class="product-name"><strong>Product</strong></th>
                                        <th class="product-price"><strong>Unit Price</strong></th>
                                        <th class="product-quantity"><strong>Quantity</strong></th>
                                        <th class="product-subtotal"><strong>Total</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ShoppingCarts)
                                    {
                                        <tr class="cart-item">
                                            <td class="product-thumbnail">
                                                <img src="../../Theme/images/upload/@item.Photo" class="img-fluid" width="67" alt="" />
                                            </td>
                                            <td class="product-name">
                                                <a href="shop-product-detail-right-sidebar.html">@item.ProductName</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-price">@item.Price ₺</span>
                                            </td>
                                            <td class="product-quantity">
                                                <div class="quantity">
                                                    <input disabled="true" name="quantity" value="@item.Quantity" class="qty">
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="sub-total"><strong>@(item.Price * @item.Quantity) ₺</strong></span>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="cart-totals w-100">
                            <tbody>
                                <tr class="border-bottom-0">
                                    <td>
                                        <span class="cart-total-label">Total</span>
                                    </td>
                                    <td class="text-right" style="padding-right: 138px;">
                                        <span class="cart-total-value text-color-primary text-4">@Model.TotalPrice ₺</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="text-color-dark font-weight-semibold" for="billing_city">CARGO:</label>
                        @Html.DropDownListFor(model => model.Cargo, Model.AvailableCargo, new { @class = "form-control line-height-1 bg-light-5" })
                    </div>
                    <div class="form-group col-md-6">
                        <label class="text-color-dark font-weight-semibold" for="billing_city">ADDRESS:</label>
                        @Html.DropDownListFor(model => model.AddressId, Model.AvailableAddress, new { @class = "form-control line-height-1 bg-light-5" })
                    </div>
                </div>


                <div class="col-md-12 text-right px-0">
                    <button class="btn btn-primary btn-rounded font-weight-bold btn-h-2 btn-v-3" type="submit">CREATE ORDER</button>
                    
                </div>

            }
        </div>
    </section>


</div>

