@model ShoppingCartListModel


<div class="mini-cart order-4">



    <span class="font-weight-bold font-primary">Cart / <span class="cart-total">@Model.TotalPrice ₺</span></span>
    <div class="mini-cart-icon">
        <img src="img/icons/cart-bag.svg" class="img-fluid" alt="" />
        <span class="badge badge-primary rounded-circle">@Model.TotalQuantity</span>
    </div>
    <div class="mini-cart-content">
        <div class="inner-wrapper bg-light rounded">

            @foreach (var item in Model.ShoppingCarts)
            {
                <div class="mini-cart-product">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="text-color-default font-secondary text-1 mt-3 mb-0">@item.ProductName</h2>
                            <strong class="text-color-dark">
                                <span class="qty">@item.Quantity x</span>
                                <span class="product-price">@item.Price ₺</span>
                            </strong>
                        </div>
                        <div class="col-5">
                            <div class="product-image">
                                <a href="@Url.Action("DeleteCart", "ShoppingCart", new { id = @item.Id })" class="btn btn-light btn-rounded justify-content-center align-items-center"><i class="fas fa-times"></i></a>
                                <img src="../../Theme/images/upload/@item.Photo" class="img-fluid rounded" alt="" />
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="mini-cart-total">
                <div class="row">
                    <div class="col">
                        <strong class="text-color-dark">TOTAL:</strong>
                    </div>
                    <div class="col text-right">
                        <strong class="total-value text-color-dark">@Model.TotalPrice ₺</strong>
                    </div>
                </div>
            </div>
            <div class="mini-cart-actions">
                <div class="row">
                    <div class="col pr-1">
                        <a href="@Url.Action("ShoppingCart","ShoppingCart")" class="btn btn-dark font-weight-bold rounded text-0">VIEW CART</a>
                    </div>
                    <div class="col pl-1">
                        <a href="shop-checkout.html" class="btn btn-primary font-weight-bold rounded text-0">CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
