@using ECommerce.Web.Areas.Admin.Models
@model ProductModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_HomePage.cshtml";
}

<header class="page-header">
    <h2>Product Add</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Product</span></li>
            <li><span>Product Add</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>


<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <section class="content-body">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-plus pr-sm"></i> Add</button>
                    </div>

                    <h2 class="panel-title">Add Product</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Description</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Barcode</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Sku</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Sku, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Price</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Category</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories, new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Manufacturer</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.ManufactureId, Model.AvailableManufacturers, new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="inputFocus">Active</label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        }
    </div>
</div>

