@using ECommerce.Web.Areas.Admin.Models
@model ProductListModel
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_HomePage.cshtml";
}

<header class="page-header">
    <h2>Product List</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Product</span></li>
            <li><span>Product List</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
    </div>
</header>


<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <button onclick="location.href='@Url.Action("Add", "Product")'" type="button" class="btn btn-primary"><i class="fa fa-plus pr-sm"></i> Add Product</button>
        </div>

        <h2 class="panel-title">List</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sku</th>
                    <th>Price</th>
                    <th>Active</th>
                    <th>Category Name</th>
                    <th>Manufacture Name</th>
                    <th class="hidden-phone">Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr class="gradeX">
                        <td>@item.Name</td>
                        <td>@item.Sku</td>
                        <td>@item.Price</td>
                        <td>@item.Active</td>
                        <td>@item.CategoryName</td>
                        <td>@item.ManufactureName</td>
                        <td class=" hidden-phone">
                            @Html.ActionLink("Edit", "Edit", new { @id = item.Id }, new { @class = "mb-xs mt-xs mr-xs btn btn-sm btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { @id = item.Id }, new { @class = "mb-xs mt-xs mr-xs btn btn-sm btn-danger" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</section>


