@using ECommerce.Web.Models
@model ProductModel

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}



<div role="main" class="main">
    <div class="container">

        <div class="row">
            <div class="col">
                <ul class="breadcrumb mt-3">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shop</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <aside class="sidebar col-md-4 col-lg-3 order-2">
                <div class="accordion accordion-default accordion-toggle accordion-style-1" role="tablist">

                    <div class="card">
                        <div class="card-header accordion-header" role="tab" id="categories">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#toggleCategories" aria-expanded="false" aria-controls="toggleCategories">CATEGORIES</a>
                            </h5>
                        </div>
                        <div id="toggleCategories" class="accordion-body collapse show" role="tabpanel" aria-labelledby="categories">
                            <div class="card-body">
                                <ul class="list list-unstyled mb-0">

                                    <li><a href="#">accessories</a></li>

                                    <li><a href="#">clothes</a></li>

                                    <li><a href="#">hats</a></li>

                                    <li><a href="#">shoes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header accordion-header" role="tab" id="price">
                            <h5 class="mb-0">
                                <a href="#" data-toggle="collapse" data-target="#togglePrice" aria-expanded="false" aria-controls="togglePrice">FEATURED PRODUCTS</a>
                            </h5>
                        </div>
                        <div id="togglePrice" class="accordion-body collapse show" role="tabpanel" aria-labelledby="price">
                            <div class="card-body">

                                <div class="product row align-items-center mb-4">
                                    <div class="col-5 pr-0">
                                        <div class="image-frame image-frame-border image-frame-style-1 image-frame-effect-1">
                                            <span class="image-frame-wrapper">
                                                <img src="~/Theme/images/product-1.jpg" class="img-fluid" alt="">
                                                <span class="image-frame-action image-frame-action-style-2 image-frame-action-effect-1 image-frame-action-md">
                                                    <a href="shop-product-detail-right-sidebar.html">
                                                        <span class="image-frame-action-icon">
                                                            <i class="lnr lnr-link text-color-light"></i>
                                                        </span>
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h3 class="font-secondary text-color-default text-2 mb-0"><a href="#">Long Hoddie</a></h3>
                                        <div class="product-info-rate product-info-rate-sm py-1 d-flex">
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="far fa-star-half text-color-default"></i>
                                        </div>
                                        <span class="price font-primary text-2"><strong class="text-color-dark">$59</strong></span>
                                    </div>
                                </div>

                                <div class="product row align-items-center mb-4">
                                    <div class="col-5 pr-0">
                                        <div class="image-frame image-frame-border image-frame-style-1 image-frame-effect-1">
                                            <span class="image-frame-wrapper">
                                                <img src="~/Theme/images/product-2.jpg" class="img-fluid" alt="">
                                                <span class="image-frame-action image-frame-action-style-2 image-frame-action-effect-1 image-frame-action-md">
                                                    <a href="shop-product-detail-right-sidebar.html">
                                                        <span class="image-frame-action-icon">
                                                            <i class="lnr lnr-link text-color-light"></i>
                                                        </span>
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h3 class="font-secondary text-color-default text-2 mb-0"><a href="#">Leather Belt</a></h3>
                                        <div class="product-info-rate product-info-rate-sm py-1 d-flex">
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="far fa-star-half text-color-default"></i>
                                        </div>
                                        <span class="price font-primary text-2"><strong class="text-color-dark">$19</strong></span>
                                    </div>
                                </div>

                                <div class="product row align-items-center mb-4">
                                    <div class="col-5 pr-0">
                                        <div class="image-frame image-frame-border image-frame-style-1 image-frame-effect-1">
                                            <span class="image-frame-wrapper">
                                                <img src="~/Theme/images/product-3.jpg" class="img-fluid" alt="">
                                                <span class="image-frame-action image-frame-action-style-2 image-frame-action-effect-1 image-frame-action-md">
                                                    <a href="shop-product-detail-right-sidebar.html">
                                                        <span class="image-frame-action-icon">
                                                            <i class="lnr lnr-link text-color-light"></i>
                                                        </span>
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h3 class="font-secondary text-color-default text-2 mb-0"><a href="#">Jack Sandals</a></h3>
                                        <div class="product-info-rate product-info-rate-sm py-1 d-flex">
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="fas fa-star text-color-default mr-1"></i>
                                            <i class="far fa-star-half text-color-default"></i>
                                        </div>
                                        <span class="price font-primary text-2"><strong class="text-color-dark">$30</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div id="toggleSizes" class="accordion-body collapse show" role="tabpanel" aria-labelledby="sizes">
                            <div class="card-body pt-4">
                                <div class="image-frame">
                                    <div class="image-frame-wrapper align-items-start">
                                        <img src="img/shop/product-bg-15.jpg" class="img-fluid" alt="">
                                        <div class="image-frame-info image-frame-info-show flex-column align-items-center mt-5">
                                            <span class="text-color-dark font-primary font-weight-semibold text-2 line-height-1">Amazing</span>
                                            <h2 class="text-color-dark font-weight-bold text-3 mb-2">LADIES DRESSES</h2>
                                        </div>
                                        <a href="#" class="btn btn-primary btn-outline btn-rounded font-weight-bold btn-h-2 btn-v-3 d-block absolute-x-center align-self-end shop-now-bottom">SHOP NOW!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-md-8 col-lg-9 order-1 mb-5 mb-md-0">
                <div class="row mb-5">
                    <div class="col-lg-5 mb-5 mb-lg-0">
                        <div class="owl-carousel owl-theme manual dots-style-2 nav-style-2 nav-color-dark mb-3" id="thumbGalleryDetail">
                            <div>
                                <img src="../../Theme/images/upload/@Model.Photo" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
                            <div>
                                <span class="d-block">
                                    <img alt="Product Image" src="../../Theme/images/upload/@Model.Photo" class="img-fluid">
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h2 class="line-height-1 font-weight-bold mb-2">@Model.Name</h2>

                        <span class="price font-primary text-4"><strong class="text-color-dark">@Model.Price₺</strong></span>

                        <p class="mt-4">@Model.Description</p>
                        <hr class="my-4">
                        <ul class="list list-unstyled">
                            <li>BARKOD: <strong>@Model.Barcode</strong></li>
                            <li>SKU: <strong>@Model.Sku</strong></li>
                        </ul>


                        @using (Html.BeginForm("AddProductToCart", "ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <hr class="my-4">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="qty" size="2">
                                <input type="button" value="+" class="plus">
                            </div>
                            <input name="productId" value="@Model.Id" type="hidden" />
                            <button type="submit" class="add-to-cart btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-h-2 btn-fs-2 mt-3">ADD TO CART</button>
                            if (TempData["result"] != null)
                            {
                                <p class="" style="color:red;">@TempData["result"]</p>
                            }
                            <hr class="my-4">
                        }

                        <div class="d-flex align-items-center">
                            <span class="text-2">SHARE</span>
                            <ul class="social-icons social-icons-dark social-icons-1 ml-3">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <ul class="nav nav-tabs nav-tabs-default" id="productDetailTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold active" id="productDetailDescTab" data-toggle="tab" href="#productDetailDesc" role="tab" aria-controls="productDetailDesc" aria-expanded="true">DESCRIPTION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" id="productDetailMoreInfoTab" data-toggle="tab" href="#productDetailMoreInfo" role="tab" aria-controls="productDetailMoreInfo">MORE INFO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" id="productDetailReviewsTab" data-toggle="tab" href="#productDetailReviews" role="tab" aria-controls="productDetailReviews">REVIEWS (3)</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="contentTabProductDetail">
                            <div class="tab-pane fade pt-4 pb-4 show active" id="productDetailDesc" role="tabpanel" aria-labelledby="productDetailDescTab">
                                <p class="text-color-light-3">@Model.Description</p>

                            </div>
                            <div class="tab-pane fade pt-4 pb-4" id="productDetailMoreInfo" role="tabpanel" aria-labelledby="productDetailMoreInfoTab">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="border-top-0" scope="row">SKU</th>
                                            <td class="border-top-0">@Model.Sku</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">BARKOD</th>
                                            <td>@Model.Barcode</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade pt-4 pb-4" id="productDetailReviews" role="tabpanel" aria-labelledby="productDetailReviewsTab">
                                <ul class="comments">
                                    <li>
                                        <div class="comment">
                                            <div class="d-none d-sm-block">
                                                <img class="avatar rounded-circle" alt="" src="~/Theme/images/author-3.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <span class="comment-rating">
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark"></i>
                                                    </span>
                                                    <strong class="comment-author text-color-dark">Robert Doe</strong>
                                                    <span class="comment-date border-right-0 text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="d-none d-sm-block">
                                                <img class="avatar rounded-circle" alt="" src="~/Theme/images/author-3.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <span class="comment-rating">
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star-half text-color-dark"></i>
                                                    </span>
                                                    <strong class="comment-author text-color-dark">John Doe</strong>
                                                    <span class="comment-date border-right-0 text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <div class="d-none d-sm-block">
                                                <img class="avatar rounded-circle" alt="" src="~/Theme/images/author-3.jpg">
                                            </div>
                                            <div class="comment-block">
                                                <span class="comment-by">
                                                    <span class="comment-rating">
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                        <i class="fas fa-star text-color-dark mr-1"></i>
                                                    </span>
                                                    <strong class="comment-author text-color-dark">Jessica Doe</strong>
                                                    <span class="comment-date border-right-0 text-color-light-3">MARCH 5, 2018 at 2:28 pm</span>
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="row mt-4 pt-2">
                                    <div class="col">
                                        <h2 class="font-weight-bold text-3 mb-3">LEAVE A REVIEW</h2>
                                        <form class="form-style-2" action="#" method="post">
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <div class="rating p-1">
                                                        <label>
                                                            <input type="radio" name="rating" value="5" title="5 stars"> 5
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="rating" value="4" title="4 stars"> 4
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="rating" value="3" title="3 stars"> 3
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="rating" value="2" title="2 stars"> 2
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="rating" value="1" title="1 star"> 1
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <textarea class="form-control bg-light-5 border-0 rounded-0" placeholder="Review" rows="6" name="review" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <input type="text" value="" class="form-control border-0 rounded-0" name="name" placeholder="Name" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="email" value="" class="form-control border-0 rounded-0" name="email" placeholder="E-mail" required>
                                                </div>
                                            </div>
                                            <div class="form-row mt-2">
                                                <div class="col">
                                                    <input type="submit" value="POST REVIEW" class="btn btn-primary btn-rounded btn-h-2 btn-v-2 font-weight-bold">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="font-weight-bold text-4 mb-4">Related Products</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4 mb-4">
                        <div class="product portfolio-item portfolio-item-style-2">
                            <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                                <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                    <a href="shop-product-detail-right-sidebar.html">
                                        <img src="~/Theme/images/product-1.jpg" class="img-fluid" alt="">
                                    </a>
                                    <span class="image-frame-action">
                                        <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                    </span>
                                </span>
                            </div>
                            <div class="product-info d-flex flex-column flex-lg-row justify-content-between">
                                <div class="product-info-title">
                                    <h3 class="text-color-default text-2 line-height-1 mb-1"><a href="shop-product-detail-right-sidebar.html">Long Hoddie</a></h3>
                                    <span class="price font-primary text-4"><strong class="text-color-dark">$59</strong></span>
                                    <span class="old-price font-primary text-line-trough text-1"><strong class="text-color-default">$69</strong></span>
                                </div>
                                <div class="product-info-rate d-flex">
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-4">
                        <div class="product portfolio-item portfolio-item-style-2">
                            <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                                <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                    <a href="shop-product-detail-right-sidebar.html">
                                        <img src="~/Theme/images/product-2.jpg" class="img-fluid" alt="">
                                    </a>
                                    <span class="image-frame-action">
                                        <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                    </span>
                                </span>
                            </div>
                            <div class="product-info d-flex flex-column flex-lg-row justify-content-between">
                                <div class="product-info-title">
                                    <h3 class="text-color-default text-2 line-height-1 mb-1"><a href="shop-product-detail-right-sidebar.html">Leather Belt</a></h3>
                                    <span class="price font-primary text-4"><strong class="text-color-dark">$19</strong></span>
                                    <span class="old-price font-primary text-line-trough text-1"><strong class="text-color-default">$29</strong></span>
                                </div>
                                <div class="product-info-rate d-flex">
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-4">
                        <div class="product portfolio-item portfolio-item-style-2">
                            <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
                                <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                                    <a href="shop-product-detail-right-sidebar.html">
                                        <img src="~/Theme/images/product-3.jpg" class="img-fluid" alt="">
                                    </a>
                                    <span class="image-frame-action">
                                        <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">ADD TO CART</a>
                                    </span>
                                </span>
                            </div>
                            <div class="product-info d-flex flex-column flex-lg-row justify-content-between">
                                <div class="product-info-title">
                                    <h3 class="text-color-default text-2 line-height-1 mb-1"><a href="shop-product-detail-right-sidebar.html">Jack Sandals</a></h3>
                                    <span class="price font-primary text-4"><strong class="text-color-dark">$30</strong></span>
                                    <span class="old-price font-primary text-line-trough text-1"><strong class="text-color-default">$40</strong></span>
                                </div>
                                <div class="product-info-rate d-flex">
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default mr-1"></i>
                                    <i class="fas fa-star text-color-default"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div> 